@model foodbyte.Models.Recipes


<link rel="stylesheet" href="~/css/matretter.css" asp-append-version="true" />

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
    
}

<div class="wrapper">
    <div class="left_side">
        
        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>
        


        <div class="search_id">id-er:</div>
        <div class="search_alergi">alergi:</div>
        <div class="description">

            <h2>
                Beskrivelse av rett
            </h2>
            <p>
                
                @Html.DisplayFor(model => model.Description)
                
            </p>
        </div>
        <div class="tutorial_recipe">
            <h2>fremgangsmåte:</h2>
            <ol>

                @Html.DisplayFor(model => model.Method)

                
            </ol>
        </div>
    </div>

    <div class="right_side">
        <div><img src="/images/carbonara.jpg" alt="Carbonara"></div>
        <div class="ingredients">
            


            @Html.DisplayFor(model => model.Ingredients)

            
        </div>
    </div>

    <div class="middle_bottom">
        <div class="onLineCenter">
            
            <div class="left_box">
                <h2>Poeng for retten: @Html.DisplayFor(model => model.Xp)XP</h2></div>
            <div class="left_box">
                <h2>Tid det tar å lage @Html.DisplayFor(model => model.TimeToMake)</h2></div>
            <div class="left_box">
                <h2>Vanskelghetsgrad: @Html.DisplayFor(model => model.Difficulty)</h2></div>
            

        </div>
        <div class="review">
            
            <h2>Review in stars:</h2>
            @Html.DisplayFor(model => model.Stars)
            
        
            <input type="submit" id="Submit"/>
        </div>
    </div>
</div>