@model Recipes

@{
    ViewBag.Title = "Delete";
}

    <div class="list">
        <div class="list-item">
                <div class=" list-item border border-secondary">
                    <div class="Title list-item text-decoration-underline">@Html.DisplayFor(Model=>Model.Title)</div>
                    <div class="Summary list-item">@Html.DisplayFor(Model=>Model.Description)</div>
                    <div class="Ingredients list-item">@Html.DisplayFor(Model=>Model.Ingredients)</div>
                    <div class="Method list-item">@Html.DisplayFor(Model=>Model.Method)</div>
                    <div class="Nickname text-sm-end">
                        @Html.DisplayFor(Model=>Model.Id)
                    </div>
                </div>
                <div class="list-item border border-secondary">
                    <h3>Are you sure you want to delete this?</h3>
                    @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-actions no-color text-decoration-underline">
                                    <input type="submit" value="Yes" class="btn btn-default"/>
                                </div>
                                @Html.ActionLink("No, take me back", "Index")
                            }
                </div>
                 
             </div>
    </div>  
    